@media (max-width: 400px) {

    .links_item {
        display: none;
    }

    .burger_wrapper {
        display: block;
    }

    .logotype {
        height: 35px;
    }

    .header__wrapper {
        display: flex;
        padding: 20px 10px 10px 10px;
    }

    .burger_wrapper img {
        background: white;
        border-radius: 100%;
    }

    .blocks {
        flex-direction: column;
    }

    .first_line {
        margin-left: 0;
        text-align: center;
        font-size: 30px
    }

    .second_line > p {
        height: unset;
}

    .welcome_wrapper {
    height: unset;
}

    .second_line > p {
        text-align: center;
        font-size: 40px;
    }

    .blocks {
        width: 100%;
        align-items: center;

    }

    .blocks-item {
        box-shadow: 10px 15px 35px black;
    }

    .history {
        margin-top: 950px;
    }

    .history_wrapper {
        flex-direction: column;
        align-items: center;
    }

    .history_img-wrapper img:nth-child(3) {
        left: 28%;
        width: 137px;
    }

    .history_img-wrapper img:nth-child(2) {
        bottom: 0;
        right: 0;
        z-index: 10;
        width: 138px;
    }

    .history_img-wrapper img:nth-child(1) {
        top: 25px;
        z-index: 10;
        left: 0;
        width: 125px;
    }

    .history_img-wrapper img:nth-child(4) {
        left: 55%;
        top: 35px;
        z-index: -100;
        width: 114px;
    }

    .history_img-wrapper {
        width: 89%;
        height: 266px;
    }

    .history-subwrapper {
        width: 100%;

}

    .history_numbers {
        flex-direction: column;
    }

    .history_img-wrapper {
        margin-top: 50px;
    }

    .order_wrapper {
        flex-direction: column;
        justify-content: space-around;

    }

    .order_text-wrap {
        font-size: 25px;
        text-align: center;
    }

    .text_order {
        font-size: 25px;
        text-align: center;
    }

}